@mixin colors {
  --color-transparent: rgba(0, 0, 0, 0);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-neutral-700: rgb(20, 20, 20);
  --color-neutral-600: rgb(30, 30, 30);
  --color-neutral-500: rgb(49, 49, 49);
  --color-neutral-400: rgb(137, 137, 137);
  --color-neutral-300: rgb(226, 226, 226);
  --color-neutral-200: rgb(245, 245, 245);
  --color-neutral-100: rgb(255, 255, 255);
  --color-blue-700: rgb(0, 96, 255);
  --color-blue-600: rgb(20, 109, 255);
  --color-blue-500: rgb(61, 134, 255);
  --color-blue-400: rgb(122, 172, 255);
  --color-blue-300: rgb(173, 204, 255);
  --color-blue-200: rgb(214, 230, 255);
  --color-blue-100: rgb(235, 242, 255);
  --color-violet-700: rgb(96, 32, 224);
  --color-violet-600: rgb(109, 50, 226);
  --color-violet-500: rgb(134, 86, 231);
  --color-violet-400: rgb(172, 139, 239);
  --color-violet-300: rgb(204, 184, 245);
  --color-violet-200: rgb(230, 219, 250);
  --color-violet-100: rgb(242, 237, 253);
  --color-green-700: rgb(0, 192, 96);
  --color-green-600: rgb(20, 197, 109);
  --color-green-500: rgb(61, 207, 134);
  --color-green-400: rgb(122, 222, 172);
  --color-green-300: rgb(173, 235, 204);
  --color-green-200: rgb(214, 245, 230);
  --color-green-100: rgb(235, 250, 242);
  --color-orange-700: rgb(255, 160, 32);
  --color-orange-600: rgb(255, 168, 50);
  --color-orange-500: rgb(255, 183, 86);
  --color-orange-400: rgb(255, 206, 139);
  --color-orange-300: rgb(255, 225, 184);
  --color-orange-200: rgb(255, 240, 219);
  --color-orange-100: rgb(255, 247, 237);
  --color-red-700: rgb(255, 96, 64);
  --color-red-600: rgb(255, 109, 79);
  --color-red-500: rgb(255, 134, 110);
  --color-red-400: rgb(255, 172, 156);
  --color-red-300: rgb(255, 204, 194);
  --color-red-200: rgb(255, 230, 224);
  --color-red-100: rgb(255, 242, 240);
}
