@mixin colors {
  --color-transparent: rgba(0, 0, 0, 0),
  --color-black: rgb(0, 0, 0),
  --color-white: rgb(255, 255, 255),
  --color-neutral-700: rgb(20, 20, 20),
  --color-neutral-600: rgb(30, 30, 30),
  --color-neutral-500: rgb(49, 49, 49),
  --color-neutral-400: rgb(137, 137, 137),
  --color-neutral-300: rgb(226, 226, 226),
  --color-neutral-200: rgb(245, 245, 245),
  --color-neutral-100: rgb(255, 255, 255),
  --color-accent-1-700: rgb(0, 96, 255),
  --color-accent-1-600: rgb(20, 109, 255),
  --color-accent-1-500: rgb(61, 134, 255),
  --color-accent-1-400: rgb(122, 172, 255),
  --color-accent-1-300: rgb(173, 204, 255),
  --color-accent-1-200: rgb(214, 230, 255),
  --color-accent-1-100: rgb(235, 242, 255),
  --color-accent-2-700: rgb(96, 32, 224),
  --color-accent-2-600: rgb(109, 50, 226),
  --color-accent-2-500: rgb(134, 86, 231),
  --color-accent-2-400: rgb(172, 139, 239),
  --color-accent-2-300: rgb(204, 184, 245),
  --color-accent-2-200: rgb(230, 219, 250),
  --color-accent-2-100: rgb(242, 237, 253),
  --color-informative-700: rgb(64, 32, 224),
  --color-informative-600: rgb(79, 50, 226),
  --color-informative-500: rgb(110, 86, 231),
  --color-informative-400: rgb(156, 139, 239),
  --color-informative-300: rgb(194, 184, 245),
  --color-informative-200: rgb(224, 219, 250),
  --color-informative-100: rgb(240, 237, 253),
  --color-positive-700: rgb(0, 192, 96),
  --color-positive-600: rgb(20, 197, 109),
  --color-positive-500: rgb(61, 207, 134),
  --color-positive-400: rgb(122, 222, 172),
  --color-positive-300: rgb(173, 235, 204),
  --color-positive-200: rgb(214, 245, 230),
  --color-positive-100: rgb(235, 250, 242),
  --color-attention-700: rgb(255, 160, 32),
  --color-attention-600: rgb(255, 168, 50),
  --color-attention-500: rgb(255, 183, 86),
  --color-attention-400: rgb(255, 206, 139),
  --color-attention-300: rgb(255, 225, 184),
  --color-attention-200: rgb(255, 240, 219),
  --color-attention-100: rgb(255, 247, 237),
  --color-negative-700: rgb(255, 96, 64),
  --color-negative-600: rgb(255, 109, 79),
  --color-negative-500: rgb(255, 134, 110),
  --color-negative-400: rgb(255, 172, 156),
  --color-negative-300: rgb(255, 204, 194),
  --color-negative-200: rgb(255, 230, 224),
  --color-negative-100: rgb(255, 242, 240),
}
