.application {
  display: flex;
  max-width: 1440px;
  min-width: 1280px;
  height: 100vh;
  margin: 0 auto;

  .game {
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--color-emphasis-200);
  }
}
